body {
    align-items: center;
    overflow-x: hidden
}

.content {
    width:900px;
    max-width: 900px;
    margin: auto;
    cursor: url("resources/pogchamp-twitch-own3d.png"), auto;
}

div.page_header {
    color: navy;
    font-size: 48px;
    text-align: center;
    padding-bottom: 10px;
}

div.top_bar {
    background-color: palegoldenrod;
    font-size: 22px;
}
.top_bar a {
    text-decoration: none;
}

.restaurant_image {
    background-image: url("resources/restaraunt.jpg");
    height:300px;
    width:900px;
    background-attachment: fixed;
    background-position: top;
    background-size: 915px, 515px;
    background-repeat: no-repeat;
    color: lightgoldenrodyellow;
    font-size: 48px;
    text-align: center;
}
.restaurant_image button {
    padding: 5px 8px;
    border: 2px double black;
    float: right;
    margin-right: 100px;

}

.cuisine_row{
    width:900px;
    max-width: 900px;
    height:300px;
    max-height:300px;
    padding-top: 50px;

}

.cuisines_header {
    text-align: center;
    font-size: 36px;
    color:violet;
    text-decoration:underline;
    text-decoration-style: double;
    font-family: Comic Sans MS;
    padding-top: 25px;
    padding-bottom: 25px;
}
.cuisine_description {
    width:300px;
    height:250px;
    max-width: 300px;
    max-height: 250px;
    display: inline-block;
    vertical-align: top;
    align-self: right;
    padding-top: 100px;
}
.cuisine_description#italian {
    text-align: left;
    float: right;
}
.cuisine_description#indian {
    text-align: left;
    float: left;
}
.cuisine_description#japanese {
    text-align: left;
    float: right;
}
.cuisine_description#desserts {
    text-align: left;
    float: left;
}
.cuisine_description_header {
    color: navy;
}

.cuisine_image {
    display:inline-block;
    width: 450px;
}
.cuisine_image img {
    padding: 8px;
    width:400px;
}
.cuisine_iamge#italian {
    float: left;
}
.cuisine_image#indian {
    float: right;
}
.cuisine_image#japanese {
    float: left;
}
.cuisine_image#desserts {
    float: right;
}
.cuisine_image#italian img{
    background-color: palevioletred;
    float: left;
}
.cuisine_image#indian img{
    background-color: paleturquoise;
    float: right;
}
.cuisine_image#japanese img{
    background-color: palevioletred;
    float: left;
}
.cuisine_image#desserts img{
    background-color: paleturquoise;
    float: right;
}
